.relativity
  padding: 40px;
  border: none;
  .at-list
    position: initial;
    .at-list__item
      font-size: 28px;
      border-bottom:1px solid #d6e4ef;
      .at-list__item-extra
        width: 0;
        flex: 0;